.theme-slider{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 20px;
    top: 20px;

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary-light-color);
        -webkit-transition: .8s;
        transition: .8s;
      }
      
      .slider-light:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--primary-light-color);
        -webkit-transition: .8s;
        transition: .8s;
      }

      .slider-dark:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--primary-dark-color);
        -webkit-transition: .8s;
        transition: .8s;
      }
      
      input:checked + .slider {
        background-color: var(--primary-dark-color);
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px var(--primary-dark-color);
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}